.member-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-image{
    width: auto;
    height: 85%;
    margin: 1rem auto
}
.member-labels{
    color: #fff;
}
.member-title{
    margin:2px 0;
    font-size:1.2rem;
}
.member-subtitle{
    margin:0 0 10px 0;
    font-size:1rem;
}
